<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Info</title>
</head>
<body>
    <h1>Players</h1>
    <ul>
        <% people.forEach(person => { %>
            <li><%= person.name %> - Height: <%= person.height %> cm, Position: <%= person.position %></li>
        <% }); %>
    </ul>
</body>
</html>